/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font: 14px Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

p { margin: 1em 0; }

img {
  max-width: 100%;
}

/*  Header */
header {
  width: 100%;
}

.cubix {
  position: absolute;
  background-color: #fff;
}

.cubix-hoverable {
  -moz-transition: opacity .3s cubic-bezier(0.645,0.045,0.355,1);
  -ms-transition: opacity .3s cubic-bezier(0.645,0.045,0.355,1);
  -o-transition: opacity .3s cubic-bezier(0.645,0.045,0.355,1);
  -webkit-transition-property: opacity;
  -webkit-transition: opacity .3s cubic-bezier(0.645,0.045,0.355,1);
  background: rgba(20, 116, 250, 0.9);
  bottom: 12px;
  left: 12px;
  opacity: 0;
  position: absolute;
  right: 12px;
  top: 12px;
  transition-property: opacity;
  transition: opacity .3s cubic-bezier(0.645,0.045,0.355,1);
}

.cubix-hoverable:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.side-bar-toggle {
  position: fixed;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 2.25em;
  color: #FFF;
  z-index: 3;
}
.icon-close {
  display: none;
}

.layout-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 260px;
  height: 100%;
  background: #333;
  color: #999;
  overflow-y: none;
  margin-top:0px;
  margin-right:0px;
}

#content {
  height: 100%;
  position: relative;
  box-shadow: 1px 1px 10px #000;
}

.site_nav {
  position: fixed;
  bottom: 0;
}

.navigation li a{
  -webkit-transition: all .2s ease-in-out;
  color:#999;
  display:block;
  line-height:30px;
  margin-bottom:2px;
  padding: 0 10px;
  text-align:left;
  text-decoration: none;
  width:53px;
}
.navigation li a:hover, li.active a  {
  color: #eee;
}

.logo-square {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background-color: #FFF;
  box-shadow: 1px 1px 10px #555;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  height: 300px;
  left: -38px;
  position: fixed;
  top: -250px;
  width: 300px;
  z-index: 1;
  border: 10px solid #EBE9E6;
}

.logo{
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  left: -17px;
  position: fixed;
  top: 216px;
  width: 170px;
}

.slide{
  background-attachment: fixed;
  width:100%;
  height:100%;
  position: relative;
  box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.wrapper{
  width:960px;
  height:200px;
  margin:0 auto;
  position:relative;
}
.slideno{
  position:absolute;
  bottom:0px;
  left:0px;
  font-size:100px;
  font-weight:bold;
  color:rgba(255,255,255,0.3);
}
.button{
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  background-color: #333;
  background-image: url(../images/arrow.png);
  border-radius: 30px;
  border: 2px solid #EEE;
}
.button:hover{
  background-color:#494949;
  cursor:pointer;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
  background-color: #EBE9E6;
}

#slide1 header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),url(../img/Computer-Code.jpg);
  background-size: auto, auto, cover;
  background-repeat: repeat, repeat, no-repeat;
}

#slide1 header h1{
  padding: 2em 0 1em 28%;
  color: #EEE;
  font-size: 4em;
}

#slide1 #cube1 {
  margin: 0;
  width: 30%;
  height: 30%;
}

/******************************
 SLIDE 2 
*******************************/
#slide2{
  background-color:#005c99;
  
}
#slide2 img:first-child{
  position:absolute;
top: 700px;
left: -150px;
}
#slide2 img:nth-child(2){
  position:absolute;
  top:300px;
  left:100px;
}
#slide2 img:nth-child(3){
  position:absolute;
  top:600px;
  left:300px;
}
#slide2 img:nth-child(4){
  position:absolute;
  top:400px;
  left:300px;
}
#slide2 img:nth-child(5){
  position:absolute;
  top:600px;
  right:300px;
}
#slide2 img:nth-child(6){
  position:absolute;
  top:600px;
  right:300px;
}
#slide2 img:nth-child(7){
  position:absolute;
  top:400px;
  right:100px;
}
#slide2 img:nth-child(8){
  position:absolute;
  top:100px;
  right:300px;
}
/******************************
 SLIDE 3 
*******************************/
#slide3{
  background-color:#b6c10b;
}
#slide3 img:first-child{
  position:absolute;
top: 700px;
left: 300px;
}
#slide3 img:nth-child(2){
  position:absolute;
  top:100px;
  left:100px;
}
#slide3 img:nth-child(3){
  position:absolute;
  top:150px;
  left:300px;
}
#slide3 img:nth-child(4){
  position:absolute;
  top:450px;
  left:300px;
}
#slide3 img:nth-child(5){
  position:absolute;
  top:200px;
  right:300px;
}
#slide3 img:nth-child(6){
  position:absolute;
  top:100px;
  right:300px;
}
/******************************
 SLIDE 4 
*******************************/

#slide4{
  background-image:url(../images/Slide4/desktop4.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
}
#slide4 .parallaxbg{
  position:absolute;
  right:40px;
  top:40px;
  font-size:28px;
  color:rgba(51,51,51,0.3);
}


