/* Override some defaults */
html, body {
  background-color: #eee;
  padding-top: 28px;
  z-index: 10;
}

.navbar {
  margin-bottom: 25px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
}

.navbar .container {
  width: 1170px;
}

.navbar .navbar-inner {
  background-image: none;
  background-color: #fff;
  border-bottom: 1px dashed #ccc;
  box-shadow: none; 
}

.site-logo {
  width: 200px;
}

.navbar .nav li > a {
  font-size: 17px;
  padding: 20px 15px 3px;
}

.navbar .nav li {
}

.navbar .nav .active > a{
  box-shadow: none;
  background-color: white;
}
  
.spacer-top::before
{
  content:'';
  margin: 19px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  display: block;
  -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
  -moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
}

.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}

.hero-unit {
  background-color: #ddd;
}
.hero-unit h1 {
  font-size: 36px;
  margin-bottom: 24px;
}

.hero-unit p {
  padding: 0 5% 0 5%;
}

.navbar .btn-navbar {
  margin-top: 13px; 
}

footer {
  color: grey;
  font-size: .7em;
}

.line {
  background: url("../img/line.gif") center repeat-x;
  -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
  -moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
  color: #3F82C4;;
  text-transform: uppercase;
  font-size: 1em;
}

.line span.bg {
  background-color: #eee;
  padding: 0 15px 0 15px;
}

.center-text {
  text-align: center;
}

.skills-container {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 1px 8px #9FC0D6;
  margin: 0 40px 0 40px;
  padding: 20px;
}

.skills-container h3 {
  border-top: 1px solid #D1E2DD;
}

.skill-icon {
  font-size: 90px;
  line-height: 100%;
} 

.contact-us {
  font-size: 1.2em;
  font-weight: bold;
}

.contact-us-btn:hover {
  background-color: #78D578;
}

.contact-us-btn a {
  text-decoration: none;
  -webkit-transition: color 500ms linear;
  -moz-transition: color 500ms linear;
  -o-transition: color 500ms linear;
  -ms-transition: color 500ms linear;
}
.contact-us-btn:hover a {
  color: #fff;
  text-decoration: none;
}

.contact-us-btn {
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  text-transform: uppercase;
  font-size: 11pt;
  line-height: 62px;
  padding: 16px;
  margin-left: 30px;
  background-color: #FFDA45;
  border-radius: 5px;
}

/* responsive */
@media (max-width: 480px) {
  body {
    padding-top: 0px;
  }
  .brand {
    width: 200px;
  }

  .hero-unit {
    padding: 30px;
  }

  .hero-unit h1 {
    font-size: 24px;
    line-height: 24px;
  }

  
  .navbar .navbar-inner {
    border: none;
  }

  h2 {
    font-size: 24px; 
  }
  .line {
    -webkit-mask-image: none; 
    -moz-mask-image: none;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 0px;
  }

  .navbar .navbar-inner {
    border: none;
  }

  .contact-us-btn {
    display:block;
    padding: 0;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    text-indent: 0;

  }

}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

@media (min-width: 979px) {

  .navbar .nav li > a:hover {
    border-bottom: 4px solid #3F82C4; 
  }
}

@media (min-width: 1200px) {
 
  .hero-unit h1 {
    font-size: 46px;
    margin-bottom: 24px;
  }
 
}
/*
min 768 and max 979
*/


