---
layout: default
---

<div class="side-bar-toggle">
  <span class="icon-menu"></span>
</div>

<aside class="layout-sidebar">
  <div class="side-bar-toggle icon-close"></div>
  <nav class="main" role="navigation">
    <ul class="navigation">
      <li><a href="#activeandco" class="active">{{ page.nav.home }}</a></li>
      <li><a href="#offer">{{ page.nav.offer }}</a></li>
      <li><a href="#portfolio">{{ page.nav.work }}</a></li>
      <li><a href="#contact">{{ page.nav.contact }}</a></li>
    </ul>
  </nav>
</aside>

<div class="movable">
<section class="slide" data-slide="1">
  <div itemscope itemtype="http://schema.org/Organization">
    <h1  class="section-name home"><a itemprop="name" class="section-url" href="#activeandco" id="activeandco">active and co</a></h1>
    <div class="lang-switch">
      {% if page.lang == 'fr' %}
        <a id="lang-en" href="/" lang="en" hreflang="en">Show in english</a>
      {% else %}
        <a id="lang-fr" href="/fr/" lang="fr" hreflang="fr">Voir en francais</a>
      {% endif %}
    </div>
    <div class="logo-wrapper navigation">
      <a class="home-link" href="#activeandco">
        <img itemprop="logo" class="logo" src="/img/logo-7.png" alt="Logo Active and Co">
      </a>
    </div>
  </div>
  {% if page.lang == 'fr' %}
    <h1 class="baseline">{{ page.home_section.baseline[0] }}<span class="word-emphasis"> {{ page.home_section.baseline.[1] }} </span>  {{ page.home_section.baseline.[2] }} <span class="word-emphasis">{{ page.home_section.baseline.[3] }}</span></h1>
  {% else %}
    <h1 class="baseline"><span class="word-emphasis">{{ page.home_section.baseline[0] }}</span> {{ page.home_section.baseline.[1] }} <span class="word-emphasis"> {{ page.home_section.baseline.[2] }} </span> {{ page.home_section.baseline.[3] }}</h1>
  {% endif %}
  <div class="waiting animate"></div>
  <div class="overlay"></div>
  <div class="competences">
    <div class="competence">
      <div class="competence-icon" data-color="#4084C5"><div class="icon-code"></div></div>
      <h2>{{ page.home_section.webdev.title }}</h2>
      <p>{{ page.home_section.webdev.desc }}</p>
    </div>
    <div class="competence">
      <div class="competence-icon" data-color="#E93F3F"><div class="icon-mobile"></div></div>
      <h2>{{ page.home_section.mobile.title }}</h2>
      <p>{{ page.home_section.mobile.desc }}</p>
    </div>
    <div class="competence">
      <div class="competence-icon" data-color="#31AD01"><div class="icon-screen"></div></div>
      <h2>{{ page.home_section.webdesign.title }}</h2>
      <p>{{ page.home_section.webdesign.desc }}</p>
    </div>
    <div class="competence">
      <div class="competence-icon" data-color="#9B006F"><div class="icon-lab"></div></div>
      <h2>{{ page.home_section.labs.title }}</h2>
      <p>{{ page.home_section.labs.desc }} <a href="#contact">{{ page.home_section.labs.contact_us }}</a></p>
    </div>
  </div>
  <div class="visual">
    <p class="visual-text">> design / code / run</p>
  </div>
  <div class="navigation">
    <a class="button" href="#offer" title="Suivant"></a>
  </div>
</section><!--End Slide 1-->

<section class="slide slide-offer" >
  <h2 class="section-name lighter-text"><a class="section-url" href="#offer" id="offer">{{ page.offer_section.title }}</a></h2>
  <div class="overlay"></div>

  <div class="offer">
    <h3>{{ page.offer_section.dev.title }}</h3>
    <ul>
      {% for item in page.offer_section.dev.items %}
      <li>{{ item }} </li>
      {% endfor %}
    </ul>
  </div>
  <div class="offer">
    <h3>{{ page.offer_section.design.title }}</h3>
    <ul>
      {% for item in page.offer_section.design.items %}
      <li>{{ item }} </li>
      {% endfor %}
    </ul>
  </div>
  <div class="offer">
    <h3>{{ page.offer_section.conseil.title }}</h3>
    <ul>
      {% for item in page.offer_section.conseil.items %}
      <li>{{ item }} </li>
      {% endfor %}
    </ul>
  </div>
  <!--<a class="button" data-slide="4" title=""></a>-->
</section>

<section class="slide portfolio" >
  <div class="overlay"></div>

  <h2 class="section-name"><a class="section-url" href="#portfolio" id="portfolio">{{ page.work_section_title }}</a></h2>

  {% for work in page.work_section %}
    <div class="portfolio-item {{ work[0] | replace:'_','-' }}">
      <a href="{{ work[1].rel-url }}">
        <div class="portfolio-mask">
          <div class="portfolio-title">
            <h3>{{ work[1].title | capitalize }}</h3>
          </div>
        </div>
      </a>
      <div class="portfolio-detail">
        <div class="scene">
          <div class="cube">
            <div class="face one"></div>
            <div class="face two"><a href="{{ work[1].rel-url }}">+</a></div>
            <div class="face three"></div>
            <div class="face four"></div>
            <div class="face five"><a href="{{ work[1].rel-url }}">+</a></div>
            <div class="face six"></div>
          </div>
        </div>
        <p>{{ work[1].desc }}</p>
      </div>
    </div>
  {% endfor %}

  <div class="v-spacer"></div>
  <!--<a class="button" data-slide="5" title=""></a>-->

</section><!--End Slide 3-->

<section class="slide contact">
  <h2 class="section-name"><a class="section-url" href="#contact" id="contact">{{ page.contact_section.title }}</a></h2>
  <h3 class="need-quote">
    {{ page.contact_section.project }}
  </h3>
  <p class="contact-us">{{ page.contact_section.us }}</p>
  <address>
    <div class="phone-contact">
      <span class="icon-phone"></span>
    </div>
    <div class="mail-contact">
      <span class="icon-envelope">&nbsp;</span>
    </div>
  </address>
  <div class="overlay"></div>
</section><!--End Slide 4-->
</div>
