---
layout: default
---
<div class="side-bar-toggle">
  <span class="icon-menu"></span>
</div>

<aside class="layout-sidebar">
  <div class="side-bar-toggle icon-close"></div>
  <nav class="main" role="navigation">
    <ul class="navigation">
      <li><a href="#activeandco" class="active">active and co</a></li>
      <li><a href="#offer">Offre</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</aside>
<div class="movable">
  {{ content }}
</div>
